# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Chroma Database
faiss_index/
bm25_index/

# Environment Variables
.env

# VS Code
.vscode/

# PDF uploads (optional)
pdfs/

# OS files
.DS_Store
Thumbs.db