# Web UI
streamlit
python-dotenv

# LangChain
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface

# Vector Database
faiss-cpu

# Embedding Models
sentence-transformers
torch

# PDF Processing
pypdf

# Keyword Search
rank-bm25

# Numerical
numpy

# Evaluation Metrics
nltk
rouge-score
