streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface

chromadb==0.5.23

sentence-transformers
transformers
tokenizers==0.20.3
huggingface-hub>=0.33.4

torch
torchvision
torchaudio

pypdf

rank-bm25

numpy
pandas

scikit-learn

nltk
rouge-score

tqdm